{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'add.css' %}">
    <title> Add details </title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <div class="container justify-content-center">
            <h2> ENTER YOUR DETAILS </h2>
        </div>
    </nav>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="text" name="name" placeholder="name">
            <br>
            <br>
            <br>
            <input type="text" name="number" placeholder="number">
            <br>
            <br>
            <br>
            <input type="text" name="relationship" placeholder="relationship">
            <br>
            <br>
            <br>
            <input type="submit" value="save" class="btn btn-success"> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <hr>
            <a href="/home"> <ion-icon ios="arrow-back-circle-outline" md="arrow-back-circle-sharp" size="large"></ion-icon> </a>
            <p> Back </p>
        </form>
    </div>
    <script>
        window.alert(' Add details ')
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>