{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'delete.css' %}">
    <title> Delete Contact </title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
        <div class="container justify-content-center">
            <h1 class="name" style="color: white;"> {{ prof.name }} </h1>
        </div>
        <div class="container justify-content-center">
            <p class="relationship" style="color: white;"> {{ prof.relationship }} </p>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container">
        <section class="delete-container">
            <p>Are you sure you want to delete this contact?</p>
            <br>
            <br>
            <br>
            <form method='POST'>
                {% csrf_token %}
                <div class="delete-contact">
                    <input class="delete-button btn btn-danger" type="submit" value='Delete Contact' />
                </div>
            </form>
        </section>
        <br>
        <br>
        <br>
        <div>
            <a href="/home"> <ion-icon ios="arrow-back-circle-outline" md="arrow-back-circle-sharp" size="large" style="color: red;"></ion-icon> </a>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>